@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.navbar {
  height: 70px;
  width: 100%;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  background-color: #2a2c31;
  position: relative;
}
.menu-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    /* border: 1px solid white; */
}
.menu{
    filter: invert();
    border: none;
    background-color: transparent;
}
.menu:hover, .logo:hover{
    cursor: pointer;
}
.sidebar{
  position: absolute;
  top: 0;
  left:0;
  height: max-content;
  width: 270px;
  background-color: #2a2c31;
  /* border: 1px solid red; */
  z-index: 1;
  padding: 20px;

}
.visible{
  animation: LeftToRight 0.2s linear forwards;
}
.invisible{
  animation: rightToLeft 0.2s linear forwards;
}

@keyframes LeftToRight {
  from {transform: translateX(-270px);}
  to {transform: translateX(0);}
}
@keyframes rightToLeft {
  from {transform: translateX(0);}
  to {transform: translateX(-270px);}
}
.genreCompartment{
  font-size: 0.8rem;
  width: 105px;
  height: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  /* align-items:end; */
  color: #17ecb0;
  cursor: pointer;
  /* border: 1px solid red; */
}
.genreCompartment:hover{
  color: rgb(5, 153, 245)
}
/* sidebar */
.sidebar-button{
  height: 40px;
  width: 150px;
  background-color: #4a4b51;
  color: white;
  border: none;
  border-radius: 20px;
}
.sidebar-button:hover{
  cursor: pointer;
  background-color: #4a4b51de;
}
.sidebar-button:hover{
  cursor: pointer;
}
.sidebar-button-donate{
  background-color: #00ffb7;
}
.sidebar-button-community{
  background-color: #4a4b51;
  color: white
}
.sidebar-button-donate, .sidebar-button-community{
  margin-top: 10px;
  width: 220px;
  height: 36px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}
.donate_comm{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.singleCompartment{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 60px;
  width: 100%;
  color: white;
  border-bottom: 1px solid grey;

}
.singleCompartment:hover{
  color: #00ffb7;
  cursor: pointer;
}
.genre{
  display: flex;
  flex-wrap: wrap;
  color: #17ecb0;
}
.extra{
  color:rgb(5, 153, 245)
}
.extra:hover{
  color: #17ecb0;
}
.extra_genre{
  color:rgb(5, 153, 245);
  cursor: pointer;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 3px;
}


/* Carousal */
.carousal_main_body{
  height: 550px;
  width: 100vw;
  /* border: 2px solid green; */
  display: flex;
  background-color: black;
  justify-content: center;
  position: relative;

}
.cImages > img{
  height: 100%;
  width: 100vw;
  z-index: 0;
  opacity: 0.3;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;

  /* object-fit: cover; */
}
.cImages{
  position: relative;
  display: flex;
  /* z-index: -1; */
}
.navigation_carousal{
  position: absolute;
  z-index: -1;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navigation_carousal > button{
  height: 30px;
  width: 30px;
  background-color:  #2a2c31;
  border: none;
  border-radius: 3px;
}
.navigation_carousal > button:hover{
  cursor: pointer;
}
.anime-carousal-data{
  width: 70vw;
  position: absolute;
  bottom: 10px;
  left: 20px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 20px;
}
.anime-carousal-data-title{
  font-size: 4rem;
  color: white
}
.anime-carousal-data-desc{
  color: white;
  opacity: 0.6;
}
.anime-carousal-data > div{
  display: flex;
  gap: 10px;
}
.anime-carousal-data > div > button{
  background-color: #00ffb7;
  height: 40px;
  width: 150px;
  color: black;
  border: none;
  border-radius: 20px;
}

.search{
  display: flex;
  justify-content: space-between;
  padding: 0px 7px 0px 7px;
  align-items: center;
  /* padding: 5px; */
  height: 40px;
  width: 320px;
  /* border: 2px solid red; */
  background-color: white;
}
.search > input{
  background-color: white;
  width:220px;
  border: none
}
.search > input:focus{
  outline: none;
}
.icon_filter{
  display: flex;
  /* border: 2px solid red; */
  width: 80px;
  align-items: center;
  justify-content: space-around;
  
}
.icon_filter > button{
  background-color: #4a4b51;
  color: white;
  border: none;
  padding: 5px;
}
.icon_filter > button:hover{
  cursor: pointer;
}
.search_socials{
  /* border: 2px solid red; */
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials{
  display: flex;
  gap: 5px;
}
.socials > button{
  background-color: #17ecb0;
  color: black;
  border: none;
  padding: 3px;
  border-radius: 4px;
}
.socials > button:hover{
  cursor: pointer;
}